
.headerContainer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width:100%;
    border-bottom: 1px solid white;
    height:10vh;
}

.iconTitle {
    margin-left:-5vw;
}

.title {
    font-weight: 200;
    font-size: large;

}

.navLink {
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.navLink:hover {
    transform: scale(1.1);
}
