
html {
  background-color: rgb(21, 1, 23);
}

* {
  color: white;
  font-family: sans-serif;
}

.layout {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width:100%;
}