
.googlesignincontainer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vh 0;
    flex-direction: column;
}

.googlesigninbutton {
    background-color: black;
    border:1px solid white;
    padding:1vh;

}